// Imports
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import 
  'abstracts/variables', 
  'abstracts/mixins', 
  'base/reset', 
  'base/typography', 
  'layout/grid', 
  'components/footer',
  'components/group-blurb',
  'components/header',
  'components/instafeed',
  'components/map',
  'components/schedule',
  'components/social',
  'components/twitter-feed',
  'components/group-photo';
  
//Media Queries
@media #{$shortRowsshortTwitter} {
  body {
    grid-template-columns: 10% 40% 1% 40% 10%;
    grid-template-rows: 200px 40px 2em auto 2em auto 2em auto 2em auto 2em 40px;
  } 
  .twitter-feed {
    max-height: 400px;
  }
}

@media #{$sideAndMidMargin} {
  body {
    grid-template-columns: 3% 47% 1% 47% 3%;
  }
}

@media #{$stackWithMargin} {
  body {
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: 200px 40px 2em .5fr 2em .5fr 2em .5fr 2em .5fr 2em .5fr 2em .5fr 40px;
  }

  .header {
    grid-column: 1/4;
  }

  .footer-wrap {
    grid-column: 1/4;
  }

  #about {
    grid-row: 6/7;
    grid-column: 2/3;
  }

  .group-photo {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  #matches {
    grid-row: 8/9;
    grid-column: 2/3;
  }

  .schedule {
    grid-column: 2/3;
    grid-row: 10/11;
  }

  #gallery {
    grid-row: 12/13;
    grid-column: 2/3;
  }

  .twitter-feed {
    grid-row: 14/15;
    grid-column: 2/3;
  }
}

@media #{$logoBreak} {
  .logo {
    margin-left: 0;
  }
}

@media #{$logoShrink} {
  .logo {
    img:nth-child(1) {
      display: none;
    }
    img:nth-child(2) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media #{$topMargins} {
  body {
    grid-template-columns: 1% 98% 1%;
    grid-template-rows: 200px 40px auto auto auto auto auto auto auto 40px;
  }

  .group-photo {
    justify-content: unset;
    margin-top: 1%;
    grid-row: 3/4;
    img {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  #about {
    grid-row: 4/5;
    margin-top: 1%;
  }

  #matches {
    grid-row: 5/6;
    margin-top: 1%;
  }

  .schedule {
    grid-row: 6/7;
    margin-top: 1%;
  }

  #gallery {
    grid-row: 7/8;
    margin-top: 1%;
  }

  .twitter-feed {
    grid-row: 8/9;
    margin-top: 1%;
  }

  .social-top {
    display: none;
  }

  .social-bottom {
    display: block;
  }

}