#matches {
  grid-row: 6/7;
  grid-column: 2/3;
  min-height: 415px;  
  
  @include for-tablet-landscape-smaller {
    grid-row: 8/9;
    grid-column: 2/3;
  }

  @include for-phone-portrait-smaller {
    grid-row: 5/6;
    margin-top: 1%;
  }
}

.map-outer {
  text-align: right;
  min-height: 415px;
}

.google-map {
  margin-top: auto;
  margin-bottom: auto;
}

.iframe {
  min-height: 415px;
  width: 100%;
}

.gmap-canvas {
  overflow: hidden;
  background: none!important;
}