.social-top {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  margin-top: .5em;

  a {
    img {
      height: 36px;
    }
  }

  @include for-phone-portrait-smaller {
    display: none;
  }
}

.social-bottom {
  display: none;
  grid-row: 9/10;
  grid-column: 2/3;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;

  @include for-phone-portrait-smaller {
    display: block;
  }
}