$spursBlue: #001c58;
$spursFont: 'Spurs';
$navBarColor: rgba(255,255,255,0.95);
$descriptionColor: rgba(255,255,255,0.12);
$white: #fff;
$aboutFont: 'PT Sans', sans-serif;

$shortRowsshortTwitter: "only screen and (max-width : 1430px)";
$sideAndMidMargin: "only screen and (max-width : 1300px)";
$stackWithMargin: "only screen and (max-width : 1000px)";
$logoBreak: "only screen and (max-width : 900px)";
$logoShrink: "only screen and (max-width : 690px)";
$topMargins: "only screen and (max-width : 665px)";