body {
  font-family: $spursFont;
  background-color: $spursBlue;
  color: $white;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 17% 33% 2vh 33% 17%;
  grid-template-rows: 200px 40px 2vh auto 2vh auto 2vh auto 2vh auto 2vh 40px;

  @include for-big-desktop-smaller {
    grid-template-columns: 10% 40% 1% 40% 10%;
    grid-template-rows: 200px 40px 2em auto 2em auto 2em auto 2em auto 2em 40px;
  }

  @include for-desktop-smaller {
    grid-template-columns: 3% 47% 1% 47% 3%;
  }

  @include for-tablet-landscape-smaller {
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: 200px 40px 2em .5fr 2em .5fr 2em .5fr 2em .5fr 2em .5fr 2em .5fr 40px;
  }

  @include for-phone-portrait-smaller {
    grid-template-columns: 1% 98% 1%;
    grid-template-rows: 200px 40px auto auto auto auto auto auto auto 40px;
  }
}

