.header {
  width: 100%;
  grid-column: 1/6;
  max-height: 240px;

  @include for-tablet-landscape-smaller {
    grid-column: 1/4;
  }

  @include for-tablet-smaller {
    .logo {
      margin-left: 0;
    }
  }
}

.logo {
  grid-row: 1;
  grid-column: 2/4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  //Remove this at breakpoint (somewhere around iPad
  margin-left: 17%;
  img {
    display: block;
    height: 200px;
    max-width: 100%;
  }
  img:nth-child(1) {
    @include for-phone-landscape-smaller {
      display: none;
    }
  }
  img:nth-child(2) {
    display: none;
    @include for-phone-landscape-smaller {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @include for-tablet-smaller {
    margin-left: 0;
  }
}

// Nav Bar
.nav {
  grid-row: 2;
  background-color: $navBarColor;
  height: 40px;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      a {
        display: block;
        margin-top: .8em;
        z-index: 6;
        text-decoration: none;
        color: $spursBlue;
      }
      a:hover {
        color: darken($spursBlue, 10%);
        cursor: pointer;
      }      
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 0.8%;
}

.sticky + .container {
  padding-top: 60px;
}