#gallery {
  grid-row: 8/9; 
  grid-column: 2/5;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include for-tablet-landscape-smaller {
    grid-row: 12/13;
    grid-column: 2/3;
  }

  @include for-phone-portrait-smaller {
    grid-row: 7/8;
    margin-top: 1%;
  }
}

#instafeed {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  a {
    margin: 0.5%;
    img {
      margin-right: 1%;
      margin-bottom: 1%;
    }
  }
}