.schedule {
  grid-column: 4/5;
  grid-row: 6/7;
  min-height: 415px;

  iframe {
    min-height: 100%;
    min-width: 100%;
  }

  @include for-tablet-landscape-smaller {
    grid-column: 2/3;
    grid-row: 10/11;
  }

  @include for-phone-portrait-smaller {
    grid-row: 6/7;
    margin-top: 1%;
  }
}