.twitter-feed {
  grid-row: 10/11;
  grid-column: 2/5;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  max-height: 500px;
  -webkit-overflow-scrolling: touch;
  overflow: auto;

  @include for-big-desktop-smaller {
    max-height: 400px;
  }

  @include for-tablet-landscape-smaller {
    grid-row: 14/15;
    grid-column: 2/3;
  }

  @include for-phone-portrait-smaller {
    grid-row: 8/9;
    margin-top: 1%;
  }
}